<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy" class="text-center">
    <hr />
    <p class="text-muted"><small><small>版权所有 &copy; <a href="mailto:jinlong.hao@eppdev.cn">Eppdev团队</a></small></small></p>
    <p class="text-muted"><small><small><a href="http://jee.eppdev.cn">EPPDEV-JEE</a> 是一个<b>开源JavaEE</b>软件框架，采用<a href="https://github.com/eppdev/eppdev-jee-pom/blob/master/LICENSE">Apache License 2.0 with 996ICU</a>进行发布</small></small></p>
</div>
</body>
</html>